### Import libraries

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
# Load data from wiki url
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
data = BeautifulSoup(source, 'lxml')

In [3]:
# Create DataFrame
cols = ['Postalcode', 'Borough', 'Neighbourhood']
toronto_df = pd.DataFrame(columns = cols)

In [4]:
# For loop to find content in the columns
content = data.find('div', class_='mw-parser-output')
table = content.table.tbody

postalcode = 0
borough = 0
neighbourhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postalcode = td.text
            i += 1
        elif i == 1:
            borough = td.text
            i += 1
        elif i == 2:
            neighbourhood = td.text.strip('\n').replace(']', '')
    toronto_df = toronto_df.append({'Postalcode': postalcode, 'Borough': borough, 'Neighbourhood': neighbourhood}, ignore_index=True)

toronto_df.head()

  Postalcode       Borough     Neighbourhood
0          0             0                 0
1        M1A  Not assigned      Not assigned
2        M2A  Not assigned      Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

In [5]:
# DataFrame Cleaning
toronto_df = toronto_df[toronto_df.Borough != 'Not assigned']
toronto_df = toronto_df[toronto_df.Borough != 0]

toronto_df.reset_index(drop=True, inplace=True)

# If Neighbourhood content is 'Not assigned' means it is same as the content in Borough
i = 0
for i in range(0, toronto_df.shape[0]):
    if toronto_df.iloc[i][2] == 'Not assigned':
        toronto_df.iloc[i][2] = toronto_df.iloc[i][1]
        i += 1

df = toronto_df.groupby(['Postalcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head()

  Postalcode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [6]:
# Drop None value and replace 'Not assigned' with 'NaN'
df = df.dropna()
df = df[(df.Postalcode != 'Not assigned') & (df.Borough != 'Not assigned') & (df.Neighbourhood != 'Not assigned')]

df.head()

  Postalcode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [7]:
def neighbourhood_list(groupedDataframe):
    return ', '.join(sorted(groupedDataframe['Neighbourhood'].tolist()))

grouped_df = df.groupby(['Postalcode', 'Borough'])
new_df = grouped_df.apply(neighbourhood_list).reset_index(name='Neighbourhood')

new_df.head()

  Postalcode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Install / Import Geocoder

In [9]:
!pip install geocoder
import geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
Requirement already satisfied: requests in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (2.22.0)
Requirement already satisfied: future in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: click in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: six in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: decorator in c:\users\jabin choi\appdata\local\continuum\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.0)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [11]:
# Find out the cooordinates based on Postal Code
def coordinates(postalCode):
    lat_lng = None
    while(lat_lng is None):
        g = geocoder.arcgis('{}, Toronto, ON'.format(postalCode))
        lat_lng = g.latlng
    return lat_lng

coordinates('M4G')

[43.70949500000006, -79.36398897099997]

In [15]:
postal_codes = new_df['Postalcode']
coords = [coordinates(i) for i in postal_codes.tolist()]

# Create new cols - Latitude and Longitude
coordinates_df = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])

# Add new cols to 'new_df' Dataframe
new_df['Latitude'] = coordinates_df['Latitude']
new_df['Longitude'] = coordinates_df['Longitude']

new_df.head()

,Postalcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.785665,-79.158725
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765815,-79.175193
3,M1G,Scarborough,Woburn,43.768369,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440